.wrapper {
  display: flex;
}
.img {
  width: 400px;
  height: 500px;
}
.list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 600px;
  padding-left: 20px;
}
.descr {
  font-size: 20px;
  font-weight: 500;
}
.title {
  text-align: center;
}
.score {
  font-size: 18px;
  font-weight: 500;
}
