.link {
  border: none;
  border-radius: 8px;
  background-color: #d7dfe6;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
  gap: 5px;
  cursor: pointer;
  transition: background-color 250ms linear;
}
.link:hover {
  background-color: #c2d1df;
}
